@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@import "./themes.css";
@import "./tailwind.css";
@import "./customize.css";

*,
::after,
::before,
::backdrop,
::file-selector-button {
	border-color: var(--color-gray-200, currentColor);
}

body {
	background-color: hsl(var(--background));
	color: hsl(var(--foreground));
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

.text-description {
	@apply text-muted-foreground;
}

.highlight-underline {
	@apply hover:decoration-primary cursor-pointer underline underline-offset-4 hover:decoration-2;
}

/* About */
.text-write-about {
	@apply mb-1 text-base;
}
